<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>EJS Template</title>
</head>
<body>
    <h1>welcome, <%= user.name %></h1>
    <h2>Email: <%= user.email %></h2>
    <h2>City: <%= user.city %></h2>
</body>
</html>